/* General Styling */

/* Dashboard Container */
.dashboard-container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
  
    background-color: #162b40;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    height: 100vh;
    width: 190px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 28px;
    margin-top: -3px;
}

/* Sidebar Buttons */
.sidebar-button {
    background-color: transparent;
    color: white;
    padding: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light white shading effect */
}

/* Main Section (Top Nav + Content) */
.main-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Top Navigation Bar */
.top-nav {
    background-color: #253b53;
    padding: 19px 20px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.nav-link {
    text-decoration: none;
    color: #2d62d9;
    font-size: 16px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Content Area */
.content-area {
    flex-grow: 1;
    background-color:#1e2a38;
    padding: 40px;
}

/* Info Box */
.info-box {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.info-icon {
    margin-right: 10px;
}

a {
    color: #2d62d9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Filters */
.filters {
    background-color: #253b53;
    padding: 10px;
    border: 1px solid #3a506b;
    border-radius: 5px;
    margin: 20px 1.2%;
    width: 58%;
    display: flex
;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.filters label {
    font-weight: bold;
    color: #d1d5db; /* Light text color */
}
.suffle{
    font-size: 2rem;
}
.suffleButton{
    background-color: #253b53;
    padding: 10px;
    border: 1px solid #3a506b;
    height: 3rem;
}
.probnav{
    display: flex;
    align-items: center;
    width: 100%;
}
.filters select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #4a6379;
    font-size: 16px;
    background-color: #1e2a38;  /* Dark dropdown */
    color: white;
}
.filsearch{
        padding: 8px;
    border-radius: 5px;
    border: 1px solid #4a6379;
    font-size: 16px;
    background-color: #1e2a38;
    color: white;
}
.filters select:hover {
    border-color: #63b3ed;
}
.prorbnav{
    display: flex;
    width: 120%;
        margin-left: 2rem;
        align-items: center;
  }